.theme--light.v-application {
  background: #fafafa;
  color: #212121;
}
.v-snack__content {
  font-family: 'Roboto';
}
.h-100 {
  height: 100%;
}
.relative {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  z-index: 1;
}
.modal_header_icon {
  position: absolute;
  width: 90px;
  // background: orange;
  height: 90px;
  border-radius: 8px;
  left: 1em;
  top: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  &.small {
    width: 70px;
    height: 70px;
    top: -1.5em;
  }
}

.d_content_overflow_visible {
  &.v-dialog--active {
    overflow-y: visible;
  }
  .form_title {
    padding-left: 5.5em;
    &--small {
      padding-left: 6.5em;
      font-weight: 500;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.quote {
  position: relative;
  padding-left: 1.1em;
  color: #424649;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    // background: rgba(0,0,0,0.2);
    background: #424649;
  }
}

.lh-1 {
  line-height: 1.4!important;
}
.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title, .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child + .v-toolbar__title {
  padding-left: 0;
  @media screen and (max-width: 960px) {
    padding-left: 10px;
  }
}
.v_list_dense-h {
  min-height: 30px!important;
  &.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).red-text {
    color: rgb(226, 52, 52)!important;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}